{% extends "base.html" %}
{% load i18n %}

{% block headtitle %}About - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}
{% load custom_filters %}
<meta property="og:title" content="About - {{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

<meta name="twitter:card" content="summary">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
        "name": "{{PORTAL_NAME}}",
        "item": {
			"@type": "WebPage",
	        "@id": "{{FRONTEND_HOST}}"
	    }
    },
    {
		"@type": "ListItem",
		"position": 2,
        "name": "About",
        "item": {
			"@type": "AboutPage",
	        "@id": "{{FRONTEND_HOST}}/about"
	    }
    }]
}
</script>

{% endblock headermeta %}

{% block innercontent %}
{% get_current_language as LANGUAGE_CODE %}

<div class="custom-page-wrapper">
	{% comment %}<h2>{{ "About" | custom_translate:LANGUAGE_CODE}}</h2>{% endcomment %}
	<h2>cloudloop</h2>
	<hr/>

    <p> {{ "Our platform is a modern media-sharing webside build to empower creators and deliver an exceptional viewing experience. It provides a dynamic space where users can upload, share and discover media content with ease." | custom_translate:LANGUAGE_CODE}}.</p>
	<h2> {{"Key Features:" | custom_translate:LANGUAGE_CODE}}</h2>
	<ul>
		<li>{{ "High-quality video hosting and fast streaming" | custom_translate:LANGUAGE_CODE}}</li>
		<li>{{ "Support for uploading videos, images and PDFs"| custom_translate:LANGUAGE_CODE }}</li>
		<li>{{ "Community features including creating channels, comments, tags and categories"| custom_translate:LANGUAGE_CODE }}</li>
	</ul>
</div>

{% endblock %}
