{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block headtitle %}Create channel - {{PORTAL_NAME}}{% endblock headtitle %}

{% block topimports %}
{{ form.media }}
{% endblock topimports %}

{% block innercontent %}
<div class="user-action-form-wrap">
	<div class="user-action-form-inner">
		<h1>Create Channel</h1>
		<form enctype="multipart/form-data" action="" method="post" class="post-form"> {% csrf_token %}
			{{ form|crispy }}
			<button class="primaryAction" type="submit">Create Channel</button>
		</form>
	</div>
</div>
{% endblock innercontent %}
