{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block headtitle %}Edit channel - {{PORTAL_NAME}}{% endblock headtitle %}

{% block topimports %}
<link href="{% static "css/edit-forms.css" %}?v={{ VERSION }}" rel="preload" as="style">
<link href="{% static "css/edit-forms.css" %}?v={{ VERSION }}" rel="stylesheet">
{%endblock topimports %}

{% block innercontent %}
<div class="user-action-form-wrap">
	<div class="user-action-form-inner">
		<h1>Edit Channel</h1>
		{% if form.instance.banner_logo %}
			<div class="current-image-preview">
				<label>Current Banner</label>
				<div class="image-preview banner-preview">
					<img src="{{ form.instance.banner_logo.url }}" alt="Current Banner">
				</div>
			</div>
		{% endif %}
		{% if form.instance.logo %}
			<div class="current-image-preview">
				<label>Current Channel Logo</label>
				<div class="image-preview logo-preview">
					<img src="{{ form.instance.logo.url }}" alt="Current Channel Logo">
				</div>
			</div>
		{% endif %}
		<form enctype="multipart/form-data" action="" method="post" class="post-form"> {% csrf_token %}
			{{ form|crispy }}
			<button class="primaryAction" type="submit">Update Channel</button>
		</form>
	</div>
</div>
{% endblock innercontent %}
