{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block headtitle %}Create channel - {{PORTAL_NAME}}{% endblock headtitle %}

{% block topimports %}
{{ form.media }}
<script src="{% static "js/slug_generator.js" %}"></script>
<script>
	const titleFieldId = '#id_title';
	const slugFieldId = '#id_friendly_token';

	document.addEventListener('DOMContentLoaded', () => {
	if (document.querySelector(titleFieldId) && document.querySelector(slugFieldId)) {
		initSlugGenerator(titleFieldId, slugFieldId);
	}
    });
</script>
{% endblock topimports %}

{% block innercontent %}
<div class="user-action-form-wrap">
	<div class="user-action-form-inner">
		<h1>Create Channel</h1>
		<form enctype="multipart/form-data" action="" method="post" class="post-form"> {% csrf_token %}
			{{ form|crispy }}
			<button class="primaryAction" type="submit">Create Channel</button>
		</form>
	</div>
</div>
{% endblock innercontent %}
