{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block headtitle %}Edit media - {{PORTAL_NAME}}{% endblock headtitle %}

{% block topimports %}
<script src="{% static "js/slug_generator.js" %}"></script>
<script>
	const titleFieldId = '#id_title';
	const slugFieldId = '#id_friendly_token';

	document.addEventListener('DOMContentLoaded', () => {
	if (document.querySelector(titleFieldId) && document.querySelector(slugFieldId)) {
		initSlugGenerator(titleFieldId, slugFieldId);
	}
    });
</script>
{% endblock topimports %}

{% block headermeta %}{% endblock headermeta %}

{% block innercontent %}
    <div class="user-action-form-wrap">
			{% include "cms/media_nav.html" with active_tab="metadata" %}
			<div class="user-action-form-inner" style="max-width: 900px;">
				{% csrf_token %}
				{% crispy form %}
			</div>
	</div>

{% endblock innercontent %}