{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block headtitle %}Replace media - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}{% endblock headermeta %}

{% block innercontent %}
    <div class="user-action-form-wrap">
			{% include "cms/media_nav.html" with active_tab="replace" %}
			<div style="max-width: 900px;" class="user-action-form-inner">

				<div style="margin-bottom: 20px; padding: 15px; color: var(--body-text-color); background-color: var(--sidebar-bg-color); border: 1px solid var(--warning-color); border-radius: 4px;">
					<h4 style="margin-top: 0;">⚠️ Important Information</h4>
					<p style="margin-bottom: 0;">The new file will be processed but all metadata is preserved</p>
				</div>

				{% csrf_token %}
				{% crispy form %}
			</div>
	</div>

{% endblock innercontent %}
